@import "tailwindcss";


@theme {
    --color-dark-gray: #272727;
    --color-cool-gray: #888;
    --color-eerie-black: #1a1a1a;
    --color-dark-silver: #aeaeae;
    --color-youtube-red: #fe0032;
}


/* Reset */

/* Remove type search default chrome styling
Source - https: //stackoverflow.com/a/18856343 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input {
    outline: none;
}

button {
    cursor: pointer;
    text-align: left;
}

svg {
    pointer-events: none;
}

img {
    user-select: none;
    outline-width: 0;
}
/* hide page scrollbar */

/* Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* IE and Edge */
.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar-button {
    display: none;
}


/* Images */
img {
    min-height: 0;
    min-width: 0;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid transparent;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* 
/* Fullscreen 
.video-container:fullscreen {
    background-color: red;
}
 */
























