

/*=====================*/
/* Unclickable SVGs    */
/*=====================*/
svg {
    user-select: none;
    pointer-events: none;
}


/*===============================================*/
/* Remove Chrome <input type="search" /> styling */
/*===============================================*/
/* Source - https: //stackoverflow.com/a/18856343 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input {
    outline: none;
}

button {
    cursor: pointer;
    text-align: left;
}

svg {
    pointer-events: none;
}

img {
    user-select: none;
    outline-width: 0;
    min-height: 0;
    min-width: 0;
}


/*======================*/
/* Scrollbars           */
/*======================*/
* {
    scrollbar-color: white black;
}

/* Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;


}

/* Edge */
.no-scrollbar::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar-button {
    display: none;
}